body {
  margin: 0;
  background-color: #102210;
  font-family: "Work Sans", sans-serif;
  color: #f6f8f6;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(16, 34, 16, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0px 30px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
}

.titulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filtros button {
  margin-left: 10px;
  background: transparent;
  color: #9db99d;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.filtros .activo {
  background-color: rgba(19, 236, 19, 0.2);
  color: #13ec13;
}

/* ---- GRID ---- */
.grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.orden {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(24, 38, 36);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cabecera {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.orden-id {
  font-weight: bold;
  font-size: 18px;
}

.mesa {
  color: #c5c5c5;
  font-size: 14px;
}

.tiempo {
  color: #c5c5c5;
  font-size: 14px;
}

.contenido {
  padding: 10px 15px;
  font-size: 15px;
}

.pie {
  padding: 15px;
}

.pie button {
  background-color: #13ec13;
  color: #102210;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.alerta {
  border: 1px solid #facc15;
}

.alerta .cabecera {
  background-color: rgba(250, 204, 21, 0.1);
  border-bottom: 1px solid #facc15;
}

.alerta .tiempo {
  color: #facc15;
  font-weight: bold;
}

.critica {
  border: 1px solid #ef4444;
}

.critica .cabecera {
  background-color: rgba(239, 68, 68, 0.1);
  border-bottom: 1px solid #ef4444;
}

.critica .tiempo {
  color: #ef4444;
  font-weight: bold;
}